@import '../../../styles/colors.scss';

.inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid $primaryDark;
  border-radius: 3px;

  span {
    font-size: 18px;
    color: $red;
    margin-right: 10px;
    position: relative;

    div {
      cursor: default;
      position: absolute;
      color: $white;
      font-weight: 600;
      top: 10px;
      left: 20px;
      background: $red;
      border-radius: 5px;
      white-space: nowrap;
      padding: 4px;
      font-size: 1.5rem;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
    }

    &:hover {
      div {
        opacity: 1;
        visibility: visible;
      }
    }

    cursor: pointer;
  }
}

.icon-success {
  color: $success;
}

.icon-danger {
  color: $red;
}
