@import '../../../styles/colors.scss';

.form {
  padding: 1.8rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  border: $defaultBorder;
  background-color: $background;
  border-radius: 6px;

  h2 {
    font-size: 1.8rem;
  }
}
