@import '../../styles/colors.scss';

.surveyListContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px 0;
  justify-self: center;
  align-self: center;

  h2 {
    align-self: center;
    text-align: center;
    font-size: 2.3rem;
  }
}
