@import '../../styles/colors.scss';

.surveyContainer {
  width: 100%;
  max-width: 700px;
  align-self: center;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: fit-content;

  &:empty {
    position: relative;
    overflow: hidden;

    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba($gray, 0.2), rgba($gray, 0.2)),
      linear-gradient(to right, rgba($gray, 0.2), rgba($gray, 0.2)),
      linear-gradient(to right, rgba($gray, 0.2), rgba($gray, 0.2)),
      linear-gradient(to right, rgba($gray, 0.2), rgba($gray, 0.2)),
      linear-gradient(to right, rgba($gray, 0.2), rgba($gray, 0.2)),
      linear-gradient(to right, rgba($gray, 0.2), rgba($gray, 0.2)),
      linear-gradient(to right, rgba($gray, 0.2), rgba($gray, 0.2));

    background-size: 60px 100px, calc(70% - 200px) 24px, calc(80% - 200px) 24px,
      calc(60% - 200px) 24px, calc(100% - 20px) 85px, calc(100% - 20px) 85px,
      calc(100% - 20px) 85px;
    background-position: 10px 15px, 90px 19px, 90px 49px, 90px 79px, 10px 146px,
      10px 251px, 10px 356px;

    &::after {
      position: absolute;
      content: '';
      top: 15px;
      left: 10px;
      width: 100%;
      height: 430px;
      background-image: linear-gradient(
        to right,
        transparent,
        rgba($background, 0.6),
        transparent
      );
      transform: translateX(-100%);
      animation: shimmer 1.1s infinite;
    }
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
