@import '../../styles/colors.scss';

:root {
  font-size: 65%;
}

* {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  background-color: $background;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  color: $white;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .pageContent {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form {
  padding: 1.8rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  border: $defaultBorder;
  border-radius: 6px;

  h2 {
    font-size: 1.8rem;
  }
}

.errorWrapper {
  color: $red;
  padding: 10px;
  border: 1px solid $red;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 4px;
  font-weight: bold;
}
