$white: #fff;
$black: #000;
$background: #0e0e0e;
$secondaryBackground: #131313;
$primary: #7644c3;
$primaryDark: #683bab;
$primaryLight: #9455f4;
$secondaryLight: #ce8cf8;
$secondaryDark: darken($primary, 25%);
$defaultBorder: 2px solid $primary;
$red: #ff1e1e;
$success: #3cb043;
$gray: #666;
