@import '../../../../styles/colors.scss';

.surveyItem {   
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  background-color: $background;
  border: 2px solid $primary;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba($primary, 0.2), rgba($primary, 0.2)),
    linear-gradient(to right, $background, $background);
  background-position: 0 0, 54px 0;
  background-size: 54px 100%, 100% 100%;
  margin-bottom: 20px;

  &:empty {
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba($gray, 0.2), rgba($gray, 0.2)),
      linear-gradient(to right, rgba($gray, 0.2), rgba($gray, 0.2)),
      linear-gradient(to right, rgba($gray, 0.2), rgba($gray, 0.2)),
      linear-gradient(to right, rgba($gray, 0.2), rgba($gray, 0.2)),
      linear-gradient(to right, rgba($gray, 0.2), rgba($gray, 0.2));
    background-size: 60px 100px, 100% 40px, 200px 18px, 180px 18px, 190px 18px;
    background-position: 30px 78px, 0 bottom, 105px 93.5px, 105px 118.5px, 105px 143.5px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        transparent,
        rgba($white, 0.2),
        transparent
      );
      transform: translateX(-100%);
      animation: shimmer 1.1s infinite;
    }
  }

  .surveyContent {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 15px;

    .surveyTime {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px;
      height: 100px;
      width: 60px;
      background: $primaryDark;
      border-radius: 5px;

      .surveyDay {
        font-size: 3rem;
        font-weight: bold;
      }

      .surveyMonth {
        font-size: 1.4rem;
      }

      .surveyYear {
        font-size: 1.4rem;
      }
    }

    .surveyQuestion {
      font-size: 18px;
      width: 100%;
      max-width: 200px;
      font-weight: 600;
      line-height: 25px;
    }
  }

  footer {
    width: 100%;
    background: $primaryDark;
    overflow: hidden;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: $white;
    cursor: pointer;
    font-weight: 600;
    transition: all ease 0.2s;

    &:hover {
      background: $primary;
      text-decoration: underline;
    }
  }

  .surveyIcon {
    position: absolute;
    top: -15px;
    right: -15px;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
